.box {
    background-color: rgb(6, 153, 133);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1em;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: center;

    img {
        display: block;
    }

    .feature-image {
        margin: 0 auto 1em auto;
    }

    .flag-image {
        display: inline-block;
    }

    p {
        margin: .5em 0 0 0;
    }
}