<svg xmlns="http://www.w3.org/2000/svg" class="svg-filters">
  <filter id="duotone_peachypink">
    <feColorMatrix type="matrix" result="grayscale" values="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0"></feColorMatrix>

    <feComponentTransfer color-interpolation-filters="sRGB" result="duotone_magenta_gold">
      <feFuncR type="table" tableValues="0.7411764706 0.9882352941"></feFuncR>
      <feFuncG type="table" tableValues="0.0431372549 0.7333333333"></feFuncG>
      <feFuncB type="table" tableValues="0.568627451 0.05098039216"></feFuncB>
      <feFuncA type="table" tableValues="0 1"></feFuncA>
    </feComponentTransfer>
  </filter>
</svg>

<div class="box">
  <img class="img duotoned--peachy"
    appTileWeatherImage
    [weather]="country.weatherDescription"
    [alt]="country.capital">
  <!-- <img class="feature-image" [src]="country.flickrImageUrl">
  <img class="flag-image" [src]="country.flagImageUrl" height="20"> -->
  <div>
    <button
      type="button" id="delete-tile-btn"
      #deleteTileBtn
      class="close"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div>
      <h4 *ngIf="!country.pending">{{country.capital}}</h4>
      <p *ngIf="!country.pending">Currently {{country.currentTemperature}} degrees</p>
      <h4 *ngIf="country.pending">Adding {{country.name}}...</h4>
    </div>
  </div>
</div>