.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #fff;
}

.box {
    background-color: rgb(6, 153, 133);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    height: 3em;
    text-align: center;
}