.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    background-color: #fff;
}

.country-search-form {
    > .form-group {
        width: 80%;
        > input {
            width: 100%;
        }
    }
}