<div class="row">
  <div class="col-md-4">
    <form class="form-inline country-search-form">
      <div class="form-group">
        <input type="text" class="form-control"
          placeholder="Enter European country name..."
          name="countryName"
          id="new-country-input"
          [ngModel]="searchInput"
          (ngModelChange)="updateInput($event)"
          (keyup)="countryInput$.next($event.target.value)">
      </div>
      <button id="add-country" class="btn btn-default" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12 wrapper">
    <app-dashboard-tile *ngFor="let tile of (countries$ | async)"
      [country]="tile"></app-dashboard-tile>
  </div>
</div>